body{
  /* background-image: url("/assets/images/bg_4.jpg");  */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  background-color: whitesmoke;
}


/* navbar */

.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}

.navbar{
	background-color:rgb(24, 24, 65);
	color: white !important;
}

.nav-item a{
	color: white !important;
}

.nav-item{
	padding-left: 2px;
}

.navbar-brand{
	color: white !important;
	padding-left: 100px;
}

#navbar button{
	color: white !important;
}

/* banner */

#banner-container{
	background-image:linear-gradient(rgba(84, 233, 20, 0.7),rgba(62, 92, 67, 0.7)), url("../../assets/AC_2.jpg");
	/* background-color:rgb(0, 100, 0); */
	color: white !important;
	padding-top: 80px;
	padding-bottom: 80px;
	
}

#banner-row img{
	max-width: 70%;
	height: auto;
	display: block;
	padding-left: 30px;
}

#banner-row h3, p{
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
}

#banner-row a{
	background-color: white !important;
	color: black !important;
	border: none;
	margin-left: 20px;
	margin-top: 20px;
	
}
#banner-col{
	padding-left: 20px;
}
/* our activities */
#service{
	padding: 10px;
}

#service h1{
	padding: 10px;
}

/* about */

#about{
	padding-top: 80px;
	padding-bottom: 80px;
}

#about h1{
	padding-bottom: 70px;
}

#about-col ul{
	padding-top: 50px;
	padding-left: 50px;
}

#about-col ul li{
	padding-top: 15px;
	
}


/* product */

#product{
	padding-top: 80px;
	padding-bottom: 80px;
}

#product h1{
	padding-bottom: 70px;
}

#product-col2 ul{
	padding-top: 90px;
}

#product-col2 ul li{
	padding-top: 15px;
}

/* social */

#social{
	padding-top: 80px;
	padding-bottom: 80px;
}

#social h1{
	padding-bottom: 70px;
}

.social-col a:hover img{
transform: translateY(-10px);
}

#social-row{
	flex-direction: row;
}

  #contact {
    text-align: center;
    background-color: #683aa4;
    color: white;
  }
  #contact h1 {
    text-align: center;
    color: white;
  }
  /* footer */
  .ftco-footer {
	font-size: 16px;
	padding: 6em 0 0 0;
	background: black;
	text-decoration: none;
	color:rgba(255,255,255,.9);
	margin: 0%;
	line-height: 30px;
	height:450px;
	
  }
  